body{
  background-color: #F2F2F2;
}

div#connexion_block{
  background-color : #FFFFFF;
  border-radius: 4px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 2px;

}

.vertical-center {
  min-height: 80%; /*some browser does not support vh*/
  min-height: 80vh;

  display: flex;
  align-items: center;
}


div.form-group {
  margin: 15px;
}

div.form-bottom{
  margin-bottom:20px;
}

div.form-top{
  margin-top:20px;
}

div.semi_footer{
  margin: 15px;
}