.table {
  font-size: 11px;
}

.table tr {
	height: 10px;
}

.full-hour {
	border-top: 1px solid lightgrey;
}

.table td {
	width: 150px;
	height: 10px;
	border: none;
	text-align: center;
	vertical-align: top;
	color: grey;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.table td div {
	width: 150px;
    background-color: lightblue;
    overflow-y: auto;
   	border-radius: 0.5em;
	vertical-align: middle;
}

.table-div {
  overflow-y: auto;
  height: 600px;
}

.table-div th {
  position: sticky;
  top: 0;
}
